@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
 }
  
  @font-face {
    font-family: "Poppins1";
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
}
  
  @font-face {
    font-family: "Poppins2", sans-serif;
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
}

.hero-dashboard{
    padding-left: 2rem;
    padding-right: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid hsla(193, 91%, 39%, 1);
}

header  h2{
    color: hsla(201, 93%, 36%, 1);
    font-family: "Poppins2", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

div.flex-end{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
}

div.calender-display{
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 13px;
    color: hsla(0, 0%, 0%, 1);
}

div.profile{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}