@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins1";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins2";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
}
.sidebar {
  width: 229px;
  height: 100vh;
  background: hsla(193, 91%, 39%, 1);
  color: white;
  font-family: "Poppins2", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-top: 25px; 
}

.holder {
  position: relative;
  width: fit-content; 
  margin-bottom: 2.8rem;
  margin-left: 0.5rem;
}

.holder img {
  position: absolute;
  left: 0.75rem;
  top: 20%;
  pointer-events: none; /* allows clicks to go through to input */
}

.search-bar {
  width: 12.5rem;
  padding: 8px;
  padding-inline-start: 2rem;
  margin-bottom: 20px;
  font-family: "Poppins1", sans-serif;
  border: none;
  border-radius: 4px;
  color: hsla(0, 0%, 67%, 1);
  background-color: hsla(0, 0%, 96%, 1);
}


nav a {
  /* display: block; */
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px 8px 8px 1.5rem;
  /* padding-left: 1.5rem; */
}

 nav img{
  margin-right: 4px;
  /* text-align: center; */
  
} 

nav a.active {
  background: hsla(201, 93%, 36%, 1);
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family:  "Poppins2", sans-serif;
  margin-top: 8rem;
  padding: 10px 10px 10px 2.5rem;
  background: hsl(0, 71%, 44%);
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  color: white;
}
 