@font-face {
	font-family: "Otomanopee";
	src: url("fonts/otomanopee/fonts/ttf/OtomanopeeOne-Regular.ttf");
}

div.wlcm-container {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	display: flex;
}
/* left side conatainer */
div.leftside-white {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.leftside-white h2 {
	font-family: "Otomanopee", sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: hsla(198, 100%, 25%, 1);
	text-align: center;
	margin-block-start: 2rem;
}

.leftside-white h3 {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: hsla(198, 100%, 25%, 1);
}

.leftside-white p {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: hsla(0, 0%, 0%, 1);
	margin-block-start: 8px;
	margin-block-end: 20px;
}

form.form2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
}

form .flexbox {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
}

form.form2 label,
form.form2 input,
form.form2 select {
	display: block;
}

form.form2 label {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 400;
}

form.form2 input,
form.form2 select {
	width: 26.1875rem;
	height: 2.875rem;
	font-size: 1.1rem;
	border-radius: 12px;
	border: 1px solid hsla(0, 0%, 0%, 1);
	box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
	margin-block-start: 8px;
	margin-block-end: 1rem;
	padding: 10px;
}

form.form2 input.name-btn {
	width: 12.437rem;
	height: 2.875rem;
}

form.form2 input:focus,
form.form2 input:hover {
	border-color: hsla(201, 98%, 45%, 1);
}

/* remember to move the dropdown select icon */
form.form2 select {
	margin-bottom: 12px;
	appearance: none;
}

div.personal-info {
	display: flex;
	gap: 20px;
}

div.btns {
	margin-block-start: 12px;
	margin-inline-start: 17.5rem;
}

.btn {
	background-color: hsla(201, 100%, 24%, 1);
	padding: 12px;
	border-radius: 12px;
	color: hsla(0, 0%, 100%, 1);
	font-weight: 600;
	font-size: 18px;
	border: none;
	text-decoration: none;
}

.back-btn {
	margin-right: 10px;
}

/* right side container */
div.rightside-blue {
	background: linear-gradient(195.43deg, #01527d 10.81%, #0295e3 55.03%);
	width: 50%;
	position: relative;
	z-index: 1;
	padding-top: 6rem;
	font-size: 1.1rem;
}

div.vector {
	position: absolute;
	top: 40%;
	left: 35%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.vector img:nth-child(1) {
	transform: translateX(30px);
}

.vector img:nth-child(2) {
	transform: translateX(0);
}

.diagram {
	margin-block-start: 6.875rem;
	margin-inline-start: 4.0625rem;
}

.step,
.step2 {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.step p {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 600;
	color: hsla(0, 0%, 100%, 1);
}
.step2 p {
	color: hsla(0, 0%, 78%, 1);
	font-weight: 600;
}
.circle,
.circle2 {
	width: 38px;
	height: 38px;
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 0%, 1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "MyCustomFont", sans-serif;
	font-weight: 400;
}
div.circle2 {
	background-color: hsla(201, 100%, 24%, 1);
	color: hsla(0, 0%, 100%, 1);
}

.line {
	width: 4px;
	height: 60px;
	background-color: hsla(0, 0%, 100%, 1);
	margin-left: 17px;
}

section.bottom {
	display: flex;
	gap: 3.5rem;
	margin-inline-start: 6.125rem;
	margin-block-start: 15rem;
}

div.contact-us,
div.log-out {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	font-family: "MyCustomFont", sans-serif;
	font-weight: 500;
	color: hsla(0, 0%, 100%, 1);
}

.contact-us img,
.log-out img {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

/* MEDIA QUERIES FOR MOBILE */
/* Styles for small screens up to large screens */
@media (min-width: 320px) and (max-width: 600px) {
	div.rightside-blue {
		display: none;
	}

	div.leftside-white {
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.leftside-white h2 {
		font-size: 30px;
		margin-block-end: 0.5rem;
	}
	.leftside-white h3 {
		font-size: 20px;
	}
	.leftside-white p {
		font-size: 15px;
	}

	form.form2 input.name-btn {
		width: 9.8rem;
		height: 2.875rem;
	}

	form.form2 input,
	form.form2 select {
		width: 21rem;
	}

	div.btns {
		margin-inline-start: 12.2rem;
	}
}

/* MEDIA QUERIES FOR TABLET */

@media (min-width: 601px) and (max-width: 1024px) {
	div.rightside-blue {
		display: none;
	}

	div.leftside-white {
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.leftside-white h2 {
		font-size: 30px;
		margin-block-end: 0.5rem;
	}
	.leftside-white h3 {
		font-size: 20px;
	}
	.leftside-white p {
		font-size: 17px;
	}

	form.form2 input.name-btn {
		width: 11.9rem;
		height: 2.875rem;
	}

	form.form2 input,
	form.form2 select {
		width: 25rem;
	}

	div.btns {
		margin-inline-start: 16.2rem;
	}
}
