@font-face {
	font-family: "Otomanopee";
	src: url("fonts/otomanopee/fonts/ttf/OtomanopeeOne-Regular.ttf");
}

div.abt-biz {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	display: flex;
}
/* left side container */
div.biz-form {
	width: 50%;
	height: 100dvh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.biz-form h2 {
	font-family: "Otomanopee", sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: hsla(198, 100%, 25%, 1);
	text-align: center;
}

.biz-form p {
	width: 90%;
	text-align: center;
	margin-block-end: 1rem;
	font-family: "MyCustomFont", sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: hsla(198, 100%, 25%, 1);
}

form.form-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 21rem;
}

form.form-frame label,
form.form-frame input,
form.form-frame select {
	display: block;
}

div.frame {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	font-size: 1.1rem;
}

.frame label {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 400;
}

.frame input {
	/* width: 26.1875rem; */
	width: 100%;
	height: 2.875rem;
	border-radius: 12px;
	border: 1px solid hsla(0, 0%, 0%, 1);
	box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
	margin-block-start: 8px;
	padding: 10px;
	font-size: 1.1rem;
}
.frame input:focus,
.frame input:hover {
	border-color: hsla(201, 98%, 45%, 1);
}

div.estimate {
	display: flex;
	gap: 1.25rem;
}

.estimate select {
	appearance: none;
	font-size: 0.9rem;
}

.estimate select,
.estimate input {
	display: block;
	width: 12.4rem;
	height: 2.875rem;
	border-radius: 12px;
	border: 1px solid hsla(0, 0%, 0%, 1);
	box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
	margin-block-start: 8px;
	margin-block-end: 1.5rem;
	padding: 10px;
}

#estimatedRevenue::placeholder {
	font-size: 0.9rem;
}

div.biz-btns {
	display: flex;
	justify-content: end;
	margin-left: 5.3rem;
	margin-block-start: 1rem;
	width: 100%;
}

.biz-btn {
	background-color: hsla(201, 100%, 24%, 1);
	padding: 10px;
	border-radius: 12px;
	color: hsla(0, 0%, 100%, 1);
	font-weight: 600;
	font-size: 18px;
	border: none;
	text-decoration: none; /* removes underline */
}

.biz-btn .back-btn {
	margin-right: 25px;
}

/* rightside container stage */
div.stage {
	background: linear-gradient(195.43deg, #01527d 10.81%, #0295e3 55.03%);
	width: 50%;
	position: relative;
	z-index: 1;
	padding-top: 5rem;
	font-size: 1.1rem;
}

div.vector3 {
	position: absolute;
	top: 40%;
	left: 35%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.vector3 img:nth-child(1) {
	transform: translateX(30px);
}

.vector3 img:nth-child(2) {
	transform: translateX(0);
}

.diagram3 {
	margin-block-start: 6.875rem;
	margin-inline-start: 4.0625rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.step3 {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.step3 p {
	font-family: "MyCustomFont", sans-serif;
	font-weight: 600;
	color: hsla(0, 0%, 100%, 1);
}

.circle3 {
	width: 38px;
	height: 38px;
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 0%, 1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "MyCustomFont", sans-serif;
	font-weight: 400;
}

.line3 {
	width: 4px;
	height: 60px;
	background-color: hsla(0, 0%, 100%, 1);
	margin-left: 17px;
}

section.bottom3 {
	display: flex;
	flex-wrap: wrap;
	gap: 3.5rem;
	margin-inline-start: 6.125rem;
	margin-block-start: 15rem;
}

div.contact-us3,
div.log-out3 {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-family: "MyCustomFont", sans-serif;
	font-weight: 500;
	color: hsla(0, 0%, 100%, 1);
}

.contact-us3 img,
.log-out3 img {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

/* MEDIA QUERIES FOR MOBILE*/
/* Styles for small screens up to large screens */
@media (min-width: 320px) and (max-width: 600px) {
	div.stage {
		display: none;
	}

	div.biz-form {
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	form.form-frame {
		width: 21rem;
	}

	form .frame input {
		height: 2.875rem;
	}

	.estimate select,
	.frame .estimate input {
		width: 90%;
	}

	div.biz-btns {
		display: flex;
		justify-content: end;
		margin-left: 2rem;
		width: 90%;
	}
}

/* MEDIA QUERIES FOR TABLET */

@media (min-width: 601px) and (max-width: 1024px) {
	div.stage {
		display: none;
	}

	div.biz-form {
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	form .frame input {
		/* width: 19rem; */
		height: 2.875rem;
	}

	.estimate select,
	.frame .estimate input {
		width: 15rem;
	}

	div.biz-btns {
		display: flex;
		justify-content: end;
		margin-left: 10rem;

	}
}
