/*  LANDING PAGE/Main container */

@font-face {
	font-family: "MyCustomFont";
	src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
			format("truetype"),
		url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

nav.homepage-nav {
	/*  this is the parent container */
	width: 100vw;
	height: 61px;
	display: flex;
	flex-grow: 1;
	min-width: 150px;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #000;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25%);
}

nav.homepage-nav .logo {
	/* this is the first div "LOGO" */
	margin-left: 40px;
	margin-top: 10px;
}

nav.homepage-nav :nth-child(2) a {
	/* this is the middle div */
	/* THIS DIV NEEDS FIXING - THE A TAGS GETS MUMBLED UP ONE YOUR ZOOM IN ON THE BROWSER!!! */
	position: relative;
	color: black;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;

	cursor: pointer;
}

.homepage-nav div:nth-child(2) a:nth-of-type(1) {
	margin-right: 50px;
}

.homepage-nav div:nth-child(2) a:nth-of-type(2) {
	margin-right: 30px;
}

nav.homepage-nav :nth-child(2) a > img {
	position: absolute;
}

.homepage-nav div:nth-child(3) {
	/* this is the login and get started container .. the third div*/
	/* width: 300px; */
	height: 40px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	position: relative;
	color: white;
	border-radius: 12px;

	/* border: 2px solid yellow; */
}

.homepage-nav div:nth-child(3) img {
	margin-right: 30px;
}

.homepage-nav div:nth-child(3) a:nth-of-type(1) {
	/* this is the login button */
	background-color: #09adda;
	color: inherit;
	display: inline-block;
	width: 100px;
	padding: 8px;
	height: inherit;
	padding-left: 10px;
	border-radius: inherit;
	display: flex;
	align-items: center;
}

.homepage-nav div:nth-child(3) a:nth-of-type(2) {
	/* this is the get started button */
	background-color: #00517a;
	color: inherit;
	height: inherit;
	width: 130px;
	border-radius: inherit;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 0;
	right: 40px;
	display: flex;
	align-items: center;

	/* border: 2px solid red; */
}

/* MIDSECTION -------------------------------------------------------------------------------*/
/* This is the middle section of the landing page */
.midSection {
	height: 473px;
	display: flex;
	align-items: center;
	position: relative;

	background: linear-gradient(246.72deg, #c4f3ff 34.96%, #ffffff 90.24%);
}

.landingPageMotto {
	/* This is the container for the h1 MOTTO and paragraph */
	display: inline-block;
	width: 647px;
	height: 200px;
	/* margin-left: 150px; */
	margin-left: 180px;
	margin-right: 60px;

	border: 2px solid red;
}

.landingPageMotto > h1 {
	width: 538px;
	height: 96px;

	font-weight: 800;
	font-size: 50px;
	line-height: 100%;
	text-transform: capitalize;
}

.landingPageMotto > h1 span {
	color: #065d76;
}

.landingPageImages {
	/* MidSection Landing page image container */
	position: relative;
	width: 399.93px;
	height: 362.9px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingPageImages > img {
	position: absolute;
}

.landingPageImages > img:nth-of-type(1) {
	/* Main smiley image */
	width: 334.57px;
	height: 281.66px;
	border-radius: 150px;
	z-index: 100;
	position: absolute;
}

.landingPageImages > img:nth-of-type(2) {
	/* this is the black vector */
	width: 175.07px;
	height: 184.4px;
	top: 165px;
	right: 50px;
	position: absolute;
}

.landingPageImages > img:nth-of-type(3) {
	/* Top left purple vector */
	width: 175.07px;
	height: 184.4px;
	top: 25px;
	right: 180px;
	opacity: 0.63;
	position: absolute;
}

.landingPageImages > img:nth-of-type(4) {
	/* Bottom left orange vector */
	position: absolute;
	height: 152.5px;
	width: 151.72px;
	top: 165px;
	left: 10px;
}

.landingPageImages > img:nth-of-type(5) {
	/* Top right blue vector */
	position: absolute;
	top: 10px;
	left: 230px;
}

/* FOOTER---------------------------------------------------------------------------------------------- */
/* This is the footer section/container that houses the feature container */
.footer {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex: 1;
	height: calc(100vh - 534px);
	background: conic-gradient(
		from 164.13deg at 41.58% 79.97%,
		#115e80 0deg,
		#3db3e6 3.6deg,
		#115e80 360deg
	);
}

.footer > section {
	width: 1196px;
	height: 354px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	position: absolute;
	top: 400px;
	z-index: 999;
}

/* This is the container that houses all the features in the footer */
.featuresContainer {
	width: 220px;
	height: 289px;
	border-radius: 12px;
	text-align: center;
	letter-spacing: 0%;
	box-shadow: 2px 4px 4px 2px #7d7d7d;
}

.featuresContainer h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	margin-bottom: 15px;
}

.featuresContainer p {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	padding: 0 10px 0;
}

/* This is the general image container for the featuresContainer */
.imageContainer {
	height: 136px;
	width: 100%;
	margin-bottom: 15px;
}

/* General styling for the images in the imageContainer */
.imageContainer img {
	width: 100%;
	height: 100%;
}

/* Added colors to the backgrounds of the footer featuresContainer individually */
.items {
	background-color: #fff5f6;
}
.clients {
	background-color: #eeffe1;
}
.trackProfits {
	background-color: #fff6da;
}
.trackSales {
	background-color: #eeeeee;
}
