/* -------------------------------------------------------------------------------------------------- */
/* COPYRIGHT -------------------------------------------------------------------------------*/
.copyRight {
	background: linear-gradient(246.72deg, #c4f3ff 34.96%, #ffffff 90.24%);
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}

.copyRight p {
	font-size: clamp(0.4rem, 5vw, 0.7rem);

	border: 2px solid red;
}

/* -------------------------------------------------------------------------------------------- */
/* THE END */
/* -------------------------------------------------------------------------------------------- */
