/* ----------------------------------------------------------------- */
/* ---------------------------------------------MEDIA QUERY*/
/* -------------------------TINY SCREENS-------------------- */
@media (max-width: 319px) {
	.homepage-nav {
		display: none;
	}
	.midSection {
		display: none;
	}
	.footer {
		display: none;
	}
.copyRight {


	


	/* ------------------------------------------------------------------ */
	.tinyScreens {
		text-transform: capitalize;
	}
}

/* ----------------------------------------------------------------- */
/* --------------------------THE END--------------------------- */
/* ----------------------------------------------------------------- */
