/* ----------------------------------------------------------------- */
/* ---------------------------------------------MEDIA QUERY*/
/* -------------------------TINY SCREENS-------------------- */
.tinyScreens {
	display: none;
}

/* Show only on screens less than 320px */
@media (max-width: 319px) {
	.tinyScreens {
		display: flex;
		justify-content: center;
		gap: 0.3rem;
		font-size: 2rem;
		color: #065d76;
	}
}

/* ----------------------------------------------------------------- */
/* --------------------------THE END--------------------------- */
/* ----------------------------------------------------------------- */
