/* ----------------------------------------------------------------- */
/* ---------------------------------------------MEDIA QUERY*/
/* -------------------------TINY SCREENS-------------------- */@media (min-width: 320px) {
	.tinyScreens {
		display: none;
	}
}

@media (max-width: 319px) {
	.landingPageContainer,
	.nav,
	.midSection,
	.footer {
		display: none;
	}

	/* Make sure parent takes up full screen */
	body,
	html {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	/* TinyScreens wrapper fills screen */
	.tinyScreens {
		background: linear-gradient(246.72deg, #c4f3ff 34.96%, #ffffff 90.24%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh; /* full height */
		gap: 0.3rem;
		font-size: 5rem;
		border: 3px solid red;
	}
}
/* ----------------------------------------------------------------- */
/* --------------------------THE END--------------------------- */
/* ----------------------------------------------------------------- */
