* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

@font-face {
	font-family: "MyCustomFont";
	src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
/* page wrapper  */
div.page-wrapper {
  position: relative; 
  overflow: hidden; 
  min-height: 100vh;
  font-family: "MyCustomFont", sans-serif;
  font-weight: normal;
  font-style: normal;
}

div.page-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/loginbckg.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

div.hero-container{
  position: relative;     
  z-index: 1;
  height: 100vh;
  display: flex;
}

/* left-side parent container div */
div.loginContainer {
    background: linear-gradient(180deg, #666666 0%, #000000 100%);
    color: hsla(0, 0%, 100%, 1);
    width: 45%; 
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
 
.home-btn {
  margin-block-start: 5px;
  margin-block-end: 0;
  padding: 8px;
  color: white; 
}

 div.mainItems {
    display: flex;
    flex-direction: column;  
    align-items: center;     
  }

  .mainItems h2{
    margin-top: 0;
   font-weight: 600;
   font-size: 24px;
   width: 12rem;
  }

  .mainItems input{
    width: 24.25rem;
    height: 2.87rem;
    background-color: hsla(0, 0%, 100%, 1);
    border: 1px solid hsla(0, 0%, 0%, 1);
    border-radius: 12px;
    padding: 15px;
    font-weight: 400;
  }

  /* form group */
  form > input:focus{
      border-color: hsla(201, 98%, 45%, 1);
    
  }
  form input:first-of-type {
    margin-bottom: 12px
  }

  div.input-wrapper{
    position: relative;
  }
  div.input-wrapper button {
    position: absolute;
    right: 10px;
    top: 25%;
    cursor: pointer;
    background: none;
  }

   button.login{
    width: 24.25rem;
    height: 2.87rem;
    background-color: hsla(200, 100%, 24%, 1);
    border: none;
    border-radius: 12px;
    padding: 16px, 24px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    color: hsla(0, 0%, 100%, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
/* login with google or facebook btns */
  p.first{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }

  button.google-btn, button.facebook-btn{
    width: 24.25rem;
    height: 2.87rem;
    border: none;
    border-radius: 12px;
    padding-inline-start: 15px;
    display: flex;
    gap: 80px;
    align-items: center;
    color: hsla(0, 0%, 49%, 1);
    font-weight: 600;
    margin-block-end: 12px;
  }

  /* forgot password div */
   div.forgot-password{
    margin-inline-start: 75px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .forgot-password p:first-child {
    margin-right: 45px;
  }
  
  .forgot-password p:last-of-type {
    margin-right: 8px;
  }
  
  .forgot-password a {
    color: hsla(225, 100%, 50%, 1);
    text-decoration: none;
  }


  /* right-side container */
  div.right-side{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline-start: 90px;
    color: hsla(0, 0%, 100%, 1);
  }
  @font-face {
  font-family: "otomanopee";
  src: url("/fonts/otomanopee/fonts/ttf/OtomanopeeOne-Regular.ttf");
 }

 div.right-side h3{
  font-family: "otomanopee";
  text-shadow: 2px 2px 0 hsla(0, 0%, 49%, 1);
  font-size: 40px;
  font-weight: 400;
 }

 div.right-side p{
  font-family: "MyCustomFont", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-shadow: 0.5px 0.5px 0 hsla(0, 0%, 49%, 1);
 }


 /* MEDIA QUERIES FOR MOBILE*/
  /* Styles for small screens up to large screens */
  @media (min-width:320px) and (max-width: 600px) {
  div.right-side{
    display: none;
  }

  div.page-wrapper::before{
    background: none;
  }
 
  div.hero-container{
    display: block;
  }


 div.loginContainer{
  width: 100%;
  background: none;
  margin-inline-start: 0.5rem;
 }

 a .home-btn{
  color: hsla(198, 100%, 25%, 1);
    padding: 4px;
    margin-block-start: 2px;
    /* font-size: 28px; */
  }
  .mainItems h2{
   color: hsla(198, 100%, 25%, 1);
   margin-block-end: 1rem;
   font-size: 16px;
  }

  .mainItems input{
    width: 17rem;
    height: 1.87rem;
    background-color: hsla(0, 0%, 100%, 1);
    border: 1px solid hsla(0, 0%, 0%, 1);
    border-radius: 12px;
     padding: 2vw;
    font-weight: 400;
    /* margin-inline-start: 4rem; */
  }

  /* div.input-wrapper button {
    right: 10px;
  } */

  button.login{
    width: 17rem;
    height: 1.87rem;
    margin-top: 1rem;
  }

  p.first{
    color: hsla(198, 100%, 25%, 1); ;
  }

  button.google-btn, button.facebook-btn{
    width: 17rem;
    height: 1.87rem;
    color: hsl(211, 76%, 36%)
  }

  div.forgot-password{
    color: hsl(0, 0%, 0%);
    font-size: 8px;
    margin-inline-start: 1rem;
  }
} 


/* MEDIA QUERIES FOR TABLET*/
@media (min-width: 601px) and (max-width:1024px) {
  div.right-side{
    display: none;
  }

  div.page-wrapper::before{
    background: none;
  }
 
  div.hero-container{
    display: block;
  }


 div.loginContainer{
  width: 100%;
  background: none;
  margin-inline-start: 2rem;
 }

 a .home-btn{
  color: hsla(198, 100%, 25%, 1);
    padding: 4px;
    margin-block-start: 2px;
    /* font-size: 28px; */
  }
  .mainItems h2{
   color: hsla(198, 100%, 25%, 1);
   margin-block-end: 1rem;
   font-size: 24px;
  }  

  p.first{
    color: hsla(198, 100%, 25%, 1); ;
  }


  div.forgot-password{
    color: hsl(0, 0%, 0%);
    font-size: 12px;
    justify-content: center;
    justify-self: center;
    /* margin-inline-start: 1rem; */
  }
}
