/* -------------------------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------------------------- */
.footer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 2rem;
	background: conic-gradient(
		from 164.13deg at 41.58% 79.97%,
		#115e80 0deg,
		#3db3e6 3.6deg,
		#115e80 360deg
	);
}

/* FEATURE PARENT CONTAINER*/
.footerFeaturesParent {
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: nowrap;
	z-index: 999;
}

/* CONTAINER FOR THE FEATURES */
.singleFeatureContainer {
	width: 14rem;
	height: 19rem;
	display: flex;
	flex-direction: column;
	border-radius: 10rem;
	text-align: center;
	letter-spacing: 0%;
	box-shadow: 2px 4px 4px 2px #7d7d7d;

	border: 3px solid white;
}

/* CONTAINER FOR THE IMAGES */
.featureImageContainer {
	height: 9rem;
	flex: 0 0 auto;
}
.featureImageContainer img {
	width: 100%;
	height: 100%;
}

.items,
.clients,
.trackProfits,
.trackSales {
	flex: 1 1 auto;
}

.singleFeatureContainer h1 {
	font-weight: 600;
	font-size: clamp(0.8rem, 5vw, 1.2rem);
	line-height: 100%;
	margin-top: 0.5rem;
}

.singleFeatureContainer p {
	font-weight: 400;
	font-size: clamp(0.8rem, 5vw, 1rem);
	line-height: 130%;
	padding: 0 10px 0;
	margin-top: 0.5rem;
}

/* SEPERATE COLOURS FOR EACH CONTAINER */
.items {
	background-color: #fff5f6;
}
.clients {
	background-color: #eeffe1;
}
.trackProfits {
	background-color: #fff6da;
}
.trackSales {
	background-color: #eeeeee;
}
/* -------------------------------------------------------------------------------------------- */
/* MEDIA QUERY */
/* -------------------------------------------------------------------------------------------- */
@media (max-width: 850px) {
	.footer {
		height: auto;
		padding: 5rem 0;
	}

	/* FEATURE PARENT CONTAINER*/
	.footerFeaturesParent {
		height: auto;
		flex-direction: column;
		gap: 3rem;
	}

	/* CONTAINER FOR THE FEATURES */
	.singleFeatureContainer {
		width: 27rem;
		height: 30rem;
		border-radius: ;
	}

	.featureImageContainer {
		/* height: 20rem; */
		height: 18rem;
	}

	.singleFeatureContainer h1 {
		font-size: clamp(0.8rem, 5vw, 2rem);
		padding: 1.5rem 0 1rem;
	}

	.singleFeatureContainer p {
		font-size: clamp(0.8rem, 5vw, 1.1rem);
	}
	/* -------------------------------------------------------------------------------------------- */
	/* THE END */
	/* -------------------------------------------------------------------------------------------- */
}
