/* DESKTOP WORKFLOW ------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* THIS IS THE LANDING PAGE CONTAINER */
.landingPageContainer {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	font-family: "Inter", sans-serif;
	display: grid;
	grid-template-rows: 3.5rem 1fr 10rem;
}

/* -------------------------------------------------------------------------------------------- */
/* -----------------------------------------TABLET-------------------------------------- */
@media (min-width: 601px) and (max-width: 1024px) {
	.landingPageContainer {
		width: 90%;
		margin: ;
		height: auto;
		grid-template-rows: 3.5rem 1fr;

		/* border: 2px solid orange; */
	}
}

/* -------------------------------------------------------------------------------------------- */
/* -----------------------------------------MOBILES-------------------------------------- */
@media (min-width: 320px) and (max-width: 600px) {
	/* MAIN CONTAINER */
	.landingPageContainer {
		width: 100%;
		height: auto;
		grid-template-rows: 3.5rem 1fr;

		/* border: 2px solid orange; */
	}
}
