/* -------------------------------------------------------------------------------------------------- */
/* MIDSECTION -------------------------------------------------------------------------------*/
/* HOUSES THE HEADER AND PARAGRAPH */
.midSection {
	display: flex;
	width: 100vw;
	background: linear-gradient(246.72deg, #c4f3ff 34.96%, #ffffff 90.24%);
}
/* CONTAINER FOR THE HEADING AND PARAGRAPH */
.sectionMotto {
	width: 50%;
	padding: 6rem 2rem 2rem 7rem;

	/* border: 2px solid black; */
}
.headingParagraph {
	width: 100%;
	height: 100%;

	/* border: 2px solid yellow; */
}
.headingParagraph > h1 {
	font-size: clamp(0.8rem, 5vw, 3.6rem);
	font-weight: 800;
	line-height: 130%;
	text-transform: capitalize;
	margin-bottom: 2rem;
}
.headingParagraph > h1 span {
	color: #065d76;
}
.headingParagraph > p {
	font-weight: 600;
	font-size: clamp(0.8rem, 5vw, 1.1rem);
	line-height: 100%;
	letter-spacing: 0%;
	color: #575757;
}
/*PARENT CONTAINER FOR THE MIDSECTION IMAGES*/
.sectionImagesParent {
	height: 100%;
	flex: 1;
	padding: 3rem;

	/* border: 2px solid red; */
}
/* THIS CONTAINER HOUSES ALL THE IMAGES */
.ImageChildrenWrapper {
	width: 30rem;
	height: auto;
	position: relative;
	display: flex;
	justify-items: center;
	align-items: center;

	/* border: 2px solid rgb(255, 0, 204); */
}
.ImageChildrenWrapper > img:nth-of-type(1) {
	/* SMILEY IMAGE */
	border-radius: 9.4rem;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.ImageChildrenWrapper > img:nth-of-type(2) {
	/* BLACK VECTOR */
	position: absolute;
	width: 16rem;
	height: 16rem;
	top: 6rem;
	right: 2rem;
	transform: translate(1rem, 6rem) rotate(10deg);
}
.ImageChildrenWrapper > img:nth-of-type(3) {
	/* EGG LIGHT BLUE VECTOR */
	position: absolute;
	width: 14.5rem;
	height: 16rem;
	top: -3rem;
	right: 9rem;
	transform: translate(-5rem, 2rem);
}
.ImageChildrenWrapper > img:nth-of-type(4) {
	/*ORANGE VECTOR*/
	position: absolute;
	width: 16rem;
	height: 16rem;
	top: 1rem;
	right: 8.3rem;
	transform: translate(-7rem, 10rem) rotate(-15deg);
}
.ImageChildrenWrapper > img:nth-of-type(5) {
	/* BLUE VECTOR TOP RIGHT*/
	position: absolute;
	width: 16rem;
	height: 16rem;
	top: -5rem;
	right: 0;
	transform: translate(4em, 3rem) rotate(2deg);
}
/* -------------------------------------------------------------------------------------------- */
/* MEDIA QUERY */
/* -------------------------------------------------------------------------------------------- */
@media (max-width: 850px) {
	/* HOUSES THE HEADER AND PARAGRAPH */
	.midSection {
		width: 100vw;
		flex-direction: column;
		padding: 0 2rem 0;

		border: 4px solid rgb(25, 0, 255);
	}
	/* CONTAINER FOR THE HEADING AND PARAGRAPH */
	.sectionMotto {
		width: 100%;
		min-height: 30rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 8rem 0;
		margin-bottom: 3rem;

		border: 2px solid rgb(33, 34, 33);
	}
	.headingParagraph > h1 {
		font-size: 4rem;
	}
	.headingParagraph > p {
		font-size: 1.3rem;
	}

	/*PARENT CONTAINER FOR THE MIDSECTION IMAGES*/
	.sectionImagesParent {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;

		border: 2px solid red;
	}

	.ImageChildrenWrapper {
		border: 2px solid yellow;

		width: 40rem;
	}
}
/* -------------------------------------------------------------------------------------------- */
/* THE END */
/* -------------------------------------------------------------------------------------------- */
