/* -------------------------------------------------------------------------------------------------- */
/* MIDSECTION -------------------------------------------------------------------------------*/
/* HOUSES THE HEADER AND PARAGRAPH */
.midSection {
	display: flex;
	width: 100%;
	background: linear-gradient(246.72deg, #c4f3ff 34.96%, #ffffff 90.24%);
}

/* CONTAINER FOR THE HEADING AND PARAGRAPH */
.sectionMotto {
	width: 55%;
	height: 100%;
	min-width: 50%;
	/* ------------------------------------------------------------------------ */
	/* GET KOME TO CHECK THIS COS OF YOUR ERROR */
	/* ------------------------------------------------------------------------ */
	padding: 4rem 0 4rem 9rem;
}

.headingParagraph {
	width: 100%;
	height: 100%;
}

.headingParagraph > h1 {
	/* font-size: clamp(0.8rem, 5vw, 3.6rem); */
	font-size: clamp(0.8rem, 5vw, 2.8rem);
	font-weight: 800;
	line-height: 130%;
	text-transform: capitalize;
	margin-bottom: 2rem;
}

.headingParagraph > h1 span {
	color: #065d76;
}

.headingParagraph > p {
	font-weight: 600;
	font-size: clamp(0.8rem, 5vw, 1.1rem);
	line-height: 100%;
	letter-spacing: 0%;
	color: #575757;
}

/*PARENT CONTAINER FOR THE MIDSECTION IMAGES*/
.sectionImagesParent {
	height: 100%;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* THIS CONTAINER HOUSES ALL THE IMAGES */
.ImageChildrenWrapper {
	height: 17rem;
	position: relative;
	place-self: center;
}

.ImageChildrenWrapper > img:nth-of-type(1) {
	/* SMILEY IMAGE */
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 9.4rem;
	z-index: 999;
}

.ImageChildrenWrapper > img:nth-of-type(2) {
	/* BLACK VECTOR */
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: 0;
	right: 1rem;
	transform: translate(0, 8rem) rotate(10deg);
}

.ImageChildrenWrapper > img:nth-of-type(3) {
	/* EGG LIGHT BLUE VECTOR */
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: -3.3rem;
	right: 9rem;
	transform: translate(0, 2rem);
}

.ImageChildrenWrapper > img:nth-of-type(4) {
	/*ORANGE VECTOR*/
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: -2rem;
	right: 5rem;
	transform: translate(-6rem, 8rem) rotate(-15deg);
}

.ImageChildrenWrapper > img:nth-of-type(5) {
	/* BLUE VECTOR TOP RIGHT*/
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: -4rem;
	right: -2rem;
	transform: translate(0, 3rem) rotate(2deg);
}

/* ------------------------------------------------------------------------------------ */
/*-------------------------------------------------------------- MEDIA QUERY */
/* ------------------------------TABLET------------------------------------------- */
@media (min-width: 601px) and (max-width: 1024px) {
	/* HOUSES THE HEADER AND PARAGRAPH */
	.midSection {
		width: 100%;
		padding: 0 1.5rem;
		flex-direction: column;
	}

	/* CONTAINER FOR THE HEADING AND PARAGRAPH */
	.sectionMotto {
		width: 100%;
		height: 23rem;
		padding: 6rem 2rem 4rem 3rem;
	}

	/* LANDING PAGE HEADER */
	.headingParagraph > h1 {
		font-size: clamp(2.5rem, 5vw, 2.8rem);
	}

	/*PARENT CONTAINER FOR THE MIDSECTION IMAGES*/
	.sectionImagesParent {
		width: 100%;
		justify-content: end;
	}

	/* THIS CONTAINER HOUSES ALL THE IMAGES */
	.ImageChildrenWrapper {
		top: 0;
		right: 0;
		transform: translate(-2rem, -3rem);
	}
}

/* -------------------------------------------------------------------------------------------- */
/* ---------------------------------MOBILE----------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 600px) {
	/* HOUSES THE HEADER AND PARAGRAPH */
	.midSection {
		width: 100%;
		padding: 0 1rem;
		flex-direction: column;
	}

	/* CONTAINER FOR THE HEADING AND PARAGRAPH */
	.sectionMotto {
		width: 100%;
		padding: 15rem 0 20rem;
		margin-bottom: 5rem;
	}

	/* HEADING AND PARAGRAPH  CONTAINER */
	.headingParagraph {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.headingParagraph > h1 {
		font-size: clamp(2rem, 5vw, 2rem);
	}

	.headingParagraph > p {
		font-size: clamp(0.8rem, 5vw, 1.1rem);
	}

	/*PARENT CONTAINER FOR THE MIDSECTION IMAGES*/
	.sectionImagesParent {
		display: none;
	}
}
/* -------------------------------------------------------------------------------------------- */
/* THE END */
/* -------------------------------------------------------------------------------------------- */
