:root {
	font-size: 16px;

	color-scheme: light dark;
	color: black;
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
}

body {
	height: 100vh;
	width: 100%;

	font-family: "inter", sans-serif;
}

a {
	text-decoration: none;
}

/* for browsers that uses default input */
input,
textarea,
select {
	background-color: white !important;
	color: black !important;
	border: 1px solid #000;
	-webkit-text-fill-color: black; /* For Safari */
	box-shadow: none;
}

/* For autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	background-color: white !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	-webkit-text-fill-color: black !important;
	transition: background-color 9999s ease-in-out 0s;
}
/* ------------------------------------------ */

@font-face {
	font-family: "MyCustomFont";
	src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
			format("truetype"),
		url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
